header{
	background: url(../images/back1_2_2.jpg) no-repeat center top / cover;
	padding-bottom: 400px;
}

div {
	box-sizing: border-box;
}

body {
	color: white;
	padding: 0;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	background: white;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container {
	width: 1330px;
	margin: 0 auto;
}

.logo {
	margin-top: 5px;
	margin-left: -40px;
}

nav {
	float: right;
	margin-top: 60px;
	background: #1b2f6e;
	color: #1b2f6e;
	border-radius: 2px;
	display: block;
	width: 800px;
	padding: 50px 80px 50px 150px;
	margin: 0 auto;
}

.menu_border {
	background: ;
	color: #1b2f6e;
	border-radius: 2px;
	display: block;
	width: 600px;
	padding: 15px 15px;
	margin: 0 auto;
}

.menu {
	padding: 0;
	margin: 0 auto;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 50px;
}

.menu a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.titles {
	padding: 0;
	margin: 0 auto;
	opacity: 0.8;
	background-color: #1b2f6e;
}

.titles_first {
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
	padding-top: 15px;
}

.titles_first p {
	
}

h1 {
	font-size: 
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
	padding-bottom: 15px;
}

.title {
padding-top: 110px;
}

.title h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #1b2f6e;
	margin: 0;
}

.title p {
	color: #1b2f6e;
	text-align: center;
	font-size: 20px;
	margin-top: 10px; 
}

.boats {
	color: #1b2f6e;
	margin-top: 50px;
	margin-bottom: 25px;
}

.boats_item {
	width: 300px;
	float: left;
	text-align: center;
	line-height: 1.5em;
}

.boats_item h3 {
	font-size:  20px;
	margin-bottom: 10px; 
}

.boats_item p {
	font-size: 15px;
}

.boats_item:first-child {
	margin-left: 40px;
}

.boats_item:last-child {
	float: right;
	margin-right: 40px;
}

.boats_item:nth-child(2) {
	margin-left: 180px;
}

.copyright {
	text-align: center;
}

#about {
	background-color: #1b2f6e;
}

#copyright {
	background-color: #1b2f6e;
}

.contacts {
	margin-top: 80px;
	margin-left:  400px;
	margin-bottom: 20px;
}

.contacts_half {
	width: 300px;
	float: left;
}

.social {
	margin-top: 80px;
	float: left;
}

.social_i {
	margin: 15px;
	float: left;
}