.titles_about {
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}
.about_half {
	width: 600px;
	float: left;
	background-color: #1b2f6e;
	margin-top: 30px;
}

.about_half:first-child {
	float: left;
	margin-left: 50px;
}

.about_half:last-child {
	float: right;
	margin-right: 50px;
}

.about_us p {
	padding: 35px;
	margin: 0 auto;
}

.director {
	text-align: center;
	padding: 35px;
	margin: 0 auto;
}

h3 {
	padding-bottom: 5px;
	margin: 0 auto;
}

.director p {
	padding: 10px;
	margin: 0 auto;
}

#us {
	background-color: #1b2f6e;
}

.title1 {
padding-top: 110px;
}

.title1 h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

.title1 p {
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 10px; 
}

.member {
	color: white;
	margin-top: 50px;
	margin-bottom: 25px;
}

.member_item {
	width: 300px;
	float: left;
	text-align: center;
	line-height: 1.5em;
}

.member_item h3 {
	font-size:  20px;
	margin-bottom: 10px; 
}

.member_item p {
	font-size: 15px;
}

.member_item:first-child {
	margin-left: 40px;
}

.member_item:last-child {
	float: right;
	margin-right: 40px;
}

.member_item:nth-child(2) {
	margin-left: 180px;
}

.we_image {
	text-align: center;
	padding: 15px;
	margin: 0 auto;}

.we_image p {
	margin: 0 auto;
	text-align: center;
}
